.radio {
    display: none;
}
.reset {
    padding: 10px;
    background-color: #2C2E43;
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all ease 0.7s;
    cursor: pointer;
}
.reset:hover {
    background-color: #FFD523;
}