.wrapper {
    width: 500px;
    height: 15px;
    position: relative;
    margin-top: 80px;
}
.rail {
    display: block;
    background-color: #262C40;
    opacity: 0.2;
    height: 100%;
    z-index: 3;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.track {
    display: block;
    background-color: #262C40;
    height: 100%;
    z-index: 5;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.thumb {
    width: 30px;
    border: 2px solid #262C40;
    height: 30px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    top: -10px;
    cursor: grab;
    z-index: 10;
}
.tooltip {
    position: absolute;
    top: -56px;
    left: -3px;
    display: flex;
    background-color: #262C40;
    padding: 5px;
    color: white;
    transform: rotate(44deg);
    border: 1px solid rgb(245, 252, 245);
    width: 26px;
    height: 27px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.tooltip span {
    transform: rotate(-44deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}